<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3>Create a new Category</h3>
  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <label for="parentCategoryId">Parent Category</label>
      <app-input-select #parentCategoryInput name="parentCategoryId"
        [items]="entity.categories" [value]="entity.parentCategoryId"></app-input-select>
      <label for="name">Category title</label>
      <input #inputTitle="ngModel" autofocus type="text" id="title" required
        name="title" [(ngModel)]="entity.title" />
      <div [hidden]="inputTitle.valid || inputTitle.pristine" class="error-box">
        Title is required
      </div>
      <button type="submit" class="button-primary">Accept</button>
      <button type="button" (click)="goBack()">Cancel</button>
    </fieldset>
  </form>
</div>

<template #modalContainer></template>
