<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3>{{'userRegisterComplete.header' | translate}}</h3>
  <form (ngSubmit)="onSubmit()">
    <label for="name">{{'userRegisterComplete.displayedName' | translate}}</label>
    <input type="text" id="name" name="name" [(ngModel)]="entity.name" autofocus>
    <label for="language">{{'userRegisterComplete.applicationLanguage' | translate}}</label>
    <select id="language" name="language" [(ngModel)]="entity.language">
      <option *ngFor="let language of languages" [value]="language.code">{{language.label}}</option>
    </select>
    <button type="submit" class="button-primary">{{'userRegisterComplete.saveChanges' | translate}}</button>
  </form>
</div>

<template #modalContainer></template>
