<div class="picture">
  <div class="buttons left">
    <a (click)="deletePicture.emit(id)"
      i18n-title="@@deletePicture" title="Delete picture"><i class="fa fa-trash"></i></a>
  </div>
  <!-- TODO: (low) 'start' button (also in picture-new and picture-edit) -->
  <div class="buttons right">
    <a i18n-title="@@movePictureUp" title="Move picture up"
      (click)="upPicture.emit(id)"><i class="fa fa-chevron-circle-up"></i></a>
    <a i18n-title="@@movePictureDown" title="Move picture down"
      (click)="downPicture.emit(id)"><i class="fa fa-chevron-circle-down"></i></a>
    <a i18n-title="@@downloadPicture" title="Download picture"
      [href]="imagePath" download><i class="fa fa-download"></i></a>
    <a i18n-title="@@editPicture" title="Edit picture"
      (click)="editPicture.emit(id)"><i class="fa fa-pencil-square"></i></a>
  </div>
  <div class="info" *ngIf="snapshots > 1 || categories > 1">
    <ul>
      <li *ngIf="snapshots > 1">
        <span i18n="@@snapshots">Snapshots:</span> {{snapshots}}
      </li>
      <li *ngIf="categories > 1">
        <span i18n="@@categories">Categories:</span> {{categories}}
      </li>
    </ul>
  </div>
  <img defaultImage="/assets/loading.gif" [lazyLoad]="smallImagePath" [offset]="100">
</div>
