<div class="picture">
  <div class="buttons left">
    <a (click)="deletePicture.emit(id)" title="Delete picture"><i class="fa fa-trash"></i></a>
  </div>
  <!-- TODO: (low) 'start' button (also in picture-new and picture-edit) -->
  <div class="buttons right" [hidden]="rightButtonsHidden">
    <a title="Move picture up"
      (click)="upPicture.emit(id)"><i class="fa fa-chevron-circle-up"></i></a>
    <a title="Move picture down"
      (click)="downPicture.emit(id)"><i class="fa fa-chevron-circle-down"></i></a>
    <a title="Download picture" [href]="fullPath" download><i class="fa fa-download"></i></a>
    <a title="Edit picture"
      (click)="editPicture.emit(id)"><i class="fa fa-pencil-square"></i></a>
  </div>
  <div class="info" *ngIf="snapshots > 1 || categories > 1">
    <ul>
      <li *ngIf="snapshots > 1"><span>Snapshots:</span> {{snapshots}}</li>
      <li *ngIf="categories > 1"><span>Categories:</span> {{categories}}</li>
    </ul>
  </div>
  <img [defaultImage]="'assets/loading.gif'" [lazyLoad]="fullPath" [offset]="100">
</div>
