.date {
  margin-bottom: 1rem;

  .field {
    display: inline-block;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 40rem) {
  .pictures {
    float: left;
    margin-bottom: 5rem;
    width: 100%;
  }
}
