<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3>{{'search.header' | translate}}</h3>
  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <div [hidden]="entity.categories.length === 0">
        <label for="categoryId">{{'search.selectCategories' | translate}}</label>
        <app-input-checkbox #categoriesInput name="categoryId"
          [items]="entity.categories" [value]="entity.categoryIds"></app-input-checkbox>
      </div>
      <select name="type" [(ngModel)]="type">
        <option value="any">{{'search.showPicturesInAnyCategory' | translate}}</option>
        <option value="all">{{'search.showPicturesInAllCategories' | translate}}</option>
      </select>
      <div class="date">
        <div class="field">
          <label for="fromDate">{{'search.fromDate' | translate}}</label>
          <input type="date" id="fromDate" name="fromDate" [(ngModel)]="fromDate">
        </div>
        <div class="field">
          <label for="toDate">{{'search.toDate' | translate}}</label>
          <input type="date" id="toDate" name="toDate" [(ngModel)]="toDate">
        </div>
      </div>
      <label>
        <input type="checkbox" name="recurse" [(ngModel)]="recurse">
        <span>{{'search.includePicturesSubcategories' | translate}}</span>
      </label>
      <button type="submit" class="button-primary">{{'button.accept' | translate}}</button>
      <button type="button" (click)="goBack()">{{'button.cancel' | translate}}</button>
    </fieldset>
  </form>

  <app-paginator *ngIf="entity.numPages > 1"
      [page]="entity.page"
      [numPages]="entity.numPages"
      (selectPage)="goPage($event)"></app-paginator>

  <div class="pictures">
    <app-search-picture *ngFor="let picture of entity.pictures; trackBy: trackPicture"
      [id]="picture.id"
      [path]="picture.path"
      [categories]="picture.categories"
      [snapshots]="picture.snapshots"
      (deletePicture)="modal.confirm('Are you sure?', deletePicture, picture.id)"
      (editPicture)="editPicture(picture.id)"></app-search-picture>
  </div>
</div>

<template #modalContainer></template>
