@import '../../../assets/css/mixins';

.date {
  margin-bottom: 1rem;

  .field {
    display: inline-block;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include large-screen {
  .pictures {
    float: left;
    margin-bottom: 5rem;
    width: 100%;
  }
}
