<ul>
  <li>
    <button type="button" class="button-outline" (click)="prevPage()" [disabled]="page < 1"
      [title]="'paginator.previousPage' | translate">
      <i class="fa fa-chevron-left"></i>
    </button>
  </li>
  <li class="page-selector">
    <select #inputPage (change)="selectPage.emit(inputPage.value)">
      <option *ngFor="let index of numPages | iterator" [value]="index" [selected]="index === page">
        <span>{{'paginator.page' | translate}}</span> {{index + 1}}
      </option>
    </select>
  </li>
  <li>
    <button type="button" class="button-outline" (click)="nextPage()" [disabled]="page + 1 > lastPage"
      [title]="'paginator.nextPage' | translate">
      <i class="fa fa-chevron-right"></i>
    </button>
  </li>
</ul>
