ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;

  li {
    margin: 0 0 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &.page-selector {
      flex-grow: 1;
    }
  }

  button {
    font-size: 1.6rem;
    padding: 0 1.5rem;
  }

  select {
    margin-bottom: 0;
  }
}
