@import '../../../config/css/palette';
@import '../../../config/css/metrics';

.container {
  max-width: none;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

  h1 {
    flex-grow: 1;
    padding-left: 1.6rem;
  }

  a {
    color: $primary-color-text;
    font-size: $font-size-h3;
    line-height: normal;
  }

  .buttons {
    & > * {
      padding-left: 1.6rem;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

h3 {
  align-items: flex-end;
  display: flex;

  & > * {
    padding-left: 1.6rem;

    &:first-child {
      padding-left: 0;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.pictures {
  padding: 1.6rem;
}
