.container {
  max-width: none;
  padding: 0;
}

.header {
  margin-bottom: 0;
}

h3 {
  align-items: flex-end;
  display: flex;

  & > * {
    padding-left: 1.6rem;

    &:first-child {
      padding-left: 0;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.pictures {
  padding: 1rem 1.6rem;
}
