<div class="header">
  <a title="Home" routerLink="/home" ><i class="fa fa-home"></i></a>
  <h1>Photobox</h1>
  <div class="buttons" *ngIf="entity">
    <a *ngIf="entity.categories.length > 0" (click)="menu.visible = !menu.visible"
      [title]="'home.toggleMenu' | translate" ><i class="fa fa-bars"></i></a>
    <a routerLink="/category/new"
      [title]="'home.newCategory' | translate"><i class="fa fa-plus"></i></a>
    <a routerLink="/search"
      [title]="'home.findPictures' | translate"><i class="fa fa-search"></i></a>
    <a routerLink="/settings"
      [title]="'home.settings' | translate"><i class="fa fa-user"></i></a>
    <a (click)="modal.confirm($event.currentTarget.dataset.message, exit)"
      [attr.data-message]="'home.systemExit' | translate"
      [title]="'home.signOut' | translate"><i class="fa fa-sign-out"></i></a>
  </div>
</div>

<div class="container" *ngIf="entity">
  <app-menu #menu [entries]="entity.categories"
    (selectEntry)="onSelectEntry($event)" [visible]="false"></app-menu>
  <div class="results">
    <!-- if 'main category': -->
    <h3 *ngIf="entity.main">
      <span>{{'home.uncategorizedPictures' | translate}}</span>
      <a routerLink="/category/new"
        [title]="'home.newCategory' | translate"><i class="fa fa-plus"></i></a>
      <a routerLink="/picture/new"
        [title]="'home.uploadPicture' | translate"><i class="fa fa-upload"></i></a>
      <a routerLink="/search"
        [title]="'home.findPictures' | translate"><i class="fa fa-search"></i></a>
    </h3>
    <!-- else: -->
    <h3 *ngIf="!entity.main">
      <a (click)="modal.confirm($event.curentTarget.dataset.message, deleteCategory)"
        [attr.data-message]="'home.areYouSure' | translate"
        [title]="'home.deleteCategory' | translate">
        <i class="fa fa-trash-o"></i>
      </a>
      <span>{{entity.title}}</span>
      <a [routerLink]="'/category/edit/' + entity.id"
        [title]="'home.editCategory' | translate"><i class="fa fa-pencil"></i></a>
      <a [routerLink]="'/category/new/' + categoryId"
        [title]="'home.newSubcategory' | translate"><i class="fa fa-plus"></i></a>
      <a [routerLink]="'/picture/new/' + categoryId"
        [title]="'home.uploadPicture' | translate"><i class="fa fa-upload"></i></a>
      <a [routerLink]="'/search/' + categoryId"
        [title]="'home.findPictures' | translate"><i class="fa fa-search"></i></a>
    </h3>
    <!-- endif -->

    <p *ngIf="entity.pictures.length === 0">
      <em>{{'home.emptyCategory' | translate}}</em>
    </p>

    <app-paginator *ngIf="entity.numPages > 1"
        [page]="entity.page"
        [numPages]="entity.numPages"
        (selectPage)="goPage($event)"></app-paginator>

    <!-- TODO: (low) when moving a picture, scroll to that picture (also in picture-edit, picture-new) -->
    <div class="pictures">
      <app-home-picture *ngFor="let picture of entity.pictures; trackBy: trackPicture"
        [id]="picture.id"
        [path]="picture.path"
        [categories]="picture.categories"
        [snapshots]="picture.snapshots"
        (deletePicture)="modal.confirm('Are you sure?', deletePicture, picture.id)"
        (upPicture)="movePictureUp(picture.id)"
        (downPicture)="movePictureDown(picture.id)"
        (editPicture)="editPicture(picture.id)"></app-home-picture>
    </div>
  </div>
</div>

<template #modalContainer></template>
