<div class="header">
  <a title="Home" routerLink="/home" ><i class="fa fa-home"></i></a>
  <h1>Photobox</h1>
  <div class="buttons" *ngIf="entity">
    <a *ngIf="entity.categories.length > 0" (click)="menu.visible = !menu.visible"
      i18n-title="@@toggleMenu" title="Toggle menu" ><i class="fa fa-bars"></i></a>
    <a routerLink="/category/new"
      i18n-title="@@newCategory" title="New category"><i class="fa fa-plus"></i></a>
    <a routerLink="/search"
      i18n-title="@@findPictures" title="Find pictures"><i class="fa fa-search"></i></a>
    <a (click)="modal.confirm($event.currentTarget.dataset.message, exit)"
      i18n-data-message="@@signOutMessage" data-message="Do you want to exit the system?"
      i18n-title="@@signOut" title="Sign out"><i class="fa fa-sign-out"></i></a>
  </div>
</div>

<div class="container" *ngIf="entity">
  <app-menu #menu [entries]="entity.categories"
    (selectEntry)="onSelectEntry($event)" [visible]="false"></app-menu>
  <div class="results">
    <!-- if 'main category': -->
    <h3 *ngIf="entity.main">
      <span i18n="@@mainCategoryTitle">Uncategorized pictures</span>
      <a routerLink="/category/new"
        i18n-title="@@newCategory" title="New category"><i class="fa fa-plus"></i></a>
      <a routerLink="/picture/new"
        i18n-title="@@uploadPicture" title="Upload picture"><i class="fa fa-upload"></i></a>
      <a routerLink="/search"
        i18n-title="@@findPictures" title="Find pictures"><i class="fa fa-search"></i></a>
    </h3>
    <!-- else: -->
    <h3 *ngIf="!entity.main">
      <a (click)="modal.confirm($event.curentTarget.dataset.message, deleteCategory)"
        i18n-data-message="@@areYouSure" data-message="Are you sure?"
        i18n-title="@@deleteCategory" title="Delete category">
        <i class="fa fa-trash-o"></i>
      </a>
      <span>{{entity.title}}</span>
      <a [routerLink]="'/category/edit/' + entity.id"
        i18n-title="@@editCategory" title="Edit category"><i class="fa fa-pencil"></i></a>
      <a [routerLink]="'/category/new/' + categoryId"
        i18n-title="@@newSubcategory" title="New subcategory"><i class="fa fa-plus"></i></a>
      <a [routerLink]="'/picture/new/' + categoryId"
        i18n-title="@@uploadPicture" title="Upload picture"><i class="fa fa-upload"></i></a>
      <a [routerLink]="'/search/' + categoryId"
        i18n-title="@@findPictures" title="Find pictures"><i class="fa fa-search"></i></a>
    </h3>
    <!-- endif -->

    <p *ngIf="entity.pictures.length === 0">
      <em i18n="@@emptyCategory">This category doesn't contain any picture.</em>
    </p>

    <app-paginator *ngIf="entity.numPages > 1"
        [page]="entity.page"
        [numPages]="entity.numPages"
        (selectPage)="goPage($event)"></app-paginator>

    <!-- TODO: (low) when moving a picture, scroll to that picture (also in picture-edit, picture-new) -->
    <div class="pictures">
      <app-home-picture *ngFor="let picture of entity.pictures; trackBy: trackPicture"
        [id]="picture.id"
        [path]="picture.path"
        [categories]="picture.categories"
        [snapshots]="picture.snapshots"
        (deletePicture)="modal.confirm('Are you sure?', deletePicture, picture.id)"
        (upPicture)="movePictureUp(picture.id)"
        (downPicture)="movePictureDown(picture.id)"
        (editPicture)="editPicture(picture.id)"></app-home-picture>
    </div>
  </div>
</div>

<template #modalContainer></template>
