<li>
  <div>
    <label>
      <input type="checkbox" [value]="item.value"
        [checked]="selected" (change)="onChange($event)">
      <span>{{item.label}}</span>
    </label>
    <a *ngIf="item.items.length > 0" title="Toggle" (click)="toggle()">
      <i class="fa" [ngClass]="{'fa-chevron-down': visible, 'fa-chevron-right': !visible}"></i>
    </a>
  </div>
  <app-input-menu-tree *ngIf="item.items.length > 0" [value]="value" [items]="item.items" [visible]="visible"></app-input-menu-tree>
</li>
