li {
  & > div {
    align-items: center;
    display: inline-flex;
  }
}

label {
  align-items: center;
  display: inline-flex;
  margin: 0 1rem 0 0;

  & > * {
    margin: 0 0 0 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
