<li>
  <div>
    <label>
      <input #input type="checkbox" [value]="item.value"
        [checked]="selected" (change)="onChange(input.value)">
      <!-- TODO: (low) large titles -->
      <span>{{item.label}}</span>
    </label>
    <a *ngIf="item.items.length > 0" title="Toggle" (click)="toggle()">
      <i class="fa" [ngClass]="{'fa-chevron-down': visible, 'fa-chevron-right': !visible}"></i>
    </a>
  </div>
  <app-input-checkbox-menu *ngIf="item.items.length > 0" [value]="value"
    [items]="item.items" [visible]="visible"></app-input-checkbox-menu>
</li>
