<!-- TODO: (low) leyend field (also in picture-new) -->
<!-- TODO: (low) geolocalization field (also in picture-new) --->
<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3>{{'pictureEdit.header' | translate}}</h3>
  <form (ngSubmit)="onSubmit()" (change)="hasChanged = true">
    <fieldset>
      <div class="options" [ngClass]="{'open': showMoreOptions}">
        <label>
          <a (click)="showMoreOptions = !showMoreOptions">
            <ng-container>{{'pictureEdit.showMoreOptions' | translate}}</ng-container>
            <i class="fa fa-chevron-right"
              [ngClass]="{'fa-chevron-down': showMoreOptions, 'fa-chevron-right': !showMoreOptions}"></i>
          </a>
        </label>
        <div class="body">
          <div [hidden]="entity.categories.length === 0">
            <label for="categoryId">{{'pictureEdit.selectOneOrMoreCategories' | translate}}</label>
            <app-input-checkbox #categoriesInput name="categoryId"
              [items]="entity.categories" [value]="entity.categoryIds"></app-input-checkbox>
          </div>
          <label for="name">{{'pictureEdit.title' | translate}}</label>
          <input autofocus type="text" id="title" name="title" [(ngModel)]="entity.title" />
          <label for="tags">{{'pictureEdit.tagsSeparatedByCommas' | translate}}</label>
          <input type="text" id="tags" name="tags" [(ngModel)]="entity.tags" />
        </div>
      </div>
      <div class="pictures">
        <label>{{'pictureEdit.addOneOrMoreSnapshots' | translate}}</label>
        <app-picture-edit-snapshot *ngFor="let path of paths.items"
          [path]="path"
          (change)="hasChanged = true"
          (deletePicture)="paths.removeItem($event)"
          (downPicture)="paths.moveItemDown($event)"
          (upPicture)="paths.moveItemUp($event)"></app-picture-edit-snapshot>
        <app-picture-uploader
          (success)="paths.addItem($event)"
          (error)="modal.error($event)"></app-picture-uploader>
      </div>
      <button type="submit" class="button-primary">{{'button.accept' | translate}}</button>
      <button type="button" (click)="goBack()">{{'button.cancel' | translate}}</button>
    </fieldset>
  </form>
</div>

<template #modalContainer></template>
