<!-- TODO: (low) leyend field (also in picture-new) -->
<!-- TODO: (low) geolocalization field (also in picture-new) --->
<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3 i18n="@@editPicture">Edit Picture</h3>
  <form (ngSubmit)="onSubmit()" (change)="hasChanged = true">
    <fieldset>
      <div class="options" [ngClass]="{'open': showMoreOptions}">
        <label>
          <a (click)="showMoreOptions = !showMoreOptions">
            <span i18n="@@showMoreOptions">Show more options</span>
            <i class="fa fa-chevron-right"
              [ngClass]="{'fa-chevron-down': showMoreOptions, 'fa-chevron-right': !showMoreOptions}"></i>
          </a>
        </label>
        <div class="body">
          <div [hidden]="entity.categories.length === 0">
            <label for="categoryId" i18n="@@selectOneOrMoreCategories">Select one or more categories</label>
            <app-input-checkbox #categoriesInput name="categoryId"
              [items]="entity.categories" [value]="entity.categoryIds"></app-input-checkbox>
          </div>
          <label for="name" i18n="@@title">Title</label>
          <input autofocus type="text" id="title" name="title" [(ngModel)]="entity.title" />
          <label for="tags" i18n="@@tagsSeparatedByCommas">Tags separated by commas</label>
          <input type="text" id="tags" name="tags" [(ngModel)]="entity.tags" />
        </div>
      </div>
      <div class="pictures">
        <label i18n="@@addOneOrMoreSnapshots">Add one or more snapshots</label>
        <app-picture-edit-snapshot *ngFor="let path of paths.items"
          [path]="path"
          (change)="hasChanged = true"
          (deletePicture)="paths.removeItem($event)"
          (downPicture)="paths.moveItemDown($event)"
          (upPicture)="paths.moveItemUp($event)"></app-picture-edit-snapshot>
        <app-picture-uploader
          (success)="paths.addItem($event)"
          (error)="modal.error($event)"></app-picture-uploader>
      </div>
      <button type="submit" class="button-primary" i18n="@@accept">Accept</button>
      <button type="button" (click)="goBack()" i18n="@@cancel">Cancel</button>
    </fieldset>
  </form>
</div>

<template #modalContainer></template>
