<!-- TODO: (low) leyend field -->
<!-- TODO: (low) geolocalization field --->
<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3>Edit Picture</h3>
  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <!-- TODO: (low) use css animations -->
      <div class="options" [ngClass]="{'open': showMoreOptions}">
        <label>
          <a (click)="showMoreOptions = !showMoreOptions">
            Show more options
            <i class="fa fa-chevron-right"
              [ngClass]="{'fa-chevron-down': showMoreOptions, 'fa-chevron-right': !showMoreOptions}"></i>
          </a>
        </label>
        <div class="body">
          <div [hidden]="entity.categories.length === 0">
            <label for="categoryId">Select one or more categories</label>
            <app-input-checkbox #categoriesInput name="categoryId"
              [items]="entity.categories" [value]="entity.categoryIds"></app-input-checkbox>
          </div>
          <label for="name">Title</label>
          <input autofocus type="text" id="title" name="title" [(ngModel)]="entity.title" />
          <label for="tags">Tags separated by comma</label>
          <input type="text" id="tags" name="tags" [(ngModel)]="entity.tags" />
        </div>
      </div>
      <div class="pictures">
        <label>Add one or more snapshots</label>
        <app-picture-edit-snapshot *ngFor="let path of paths.items"
          [path]="path"
          (deletePicture)="paths.removeItem($event)"
          (downPicture)="paths.moveItemDown($event)"
          (upPicture)="paths.moveItemUp($event)"></app-picture-edit-snapshot>
        <app-picture-uploader
          (success)="paths.addItem($event)"
          (error)="modal.error($event)"></app-picture-uploader>
      </div>
      <button type="submit" class="button-primary">Accept</button>
      <button type="button" (click)="goBack()">Cancel</button>
    </fieldset>
  </form>
</div>

<template #modalContainer></template>
