<div class="header">
  <a class="menu item" href="#" title="Toggles menu"><i class="fa fa-bars"></i></a>
  <h1 class="header item">Photobox</h1>
  <a class="exit item" href="#" title="Sign out"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</div>

<div class="container" *ngIf="entity"> <!-- secondary container -->
  <div>
    <app-menu [entries]="entity.categories" (selectEntry)="onSelect($event)"></app-menu>
    <p><button type="button" (click)="logout()">Logout</button></p>
  </div>
  <div>
    <p *ngFor="let picture of entity.pictures">{{picture.path}}</p>
  </div>
</div>
