<div class="header">
  <a href="#" title="Toggles menu"><i class="fa fa-bars"></i></a>
  <h1>Photobox</h1>
  <a routerLink="/home" title="Home"><i class="fa fa-home"></i></a>
  <a href="#" title="Sign out"><i class="fa fa-sign-out"></i></a>
</div>

<div class="container" *ngIf="entity"> <!-- secondary container -->
  <div>
    <app-menu [entries]="entity.categories" (selectEntry)="onSelect($event)"></app-menu>
  </div>
  <div>
    <p *ngFor="let picture of entity.pictures">{{picture.path}}</p>
  </div>
</div>
