@import '../../config/css/palette';

div {
  %box {
    border-radius: .4rem;
    margin-bottom: .5rem;
    padding: .6rem 1rem;
  }

  .error-box {
    @extend %box;
    background-color: $primary-color-light;
    border: .1rem solid $primary-color;
    font-weight: 400;
  }
}
