<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3>{{'categoryEdit.header' | translate}}</h3>
  <form (ngSubmit)="onSubmit()" (change)="hasChanged = true">
    <fieldset>
      <label for="parentCategoryId">{{'categoryEdit.parentCategory' | translate}}</label>
      <app-input-select #parentCategoryInput name="parentCategoryId"
        [items]="entity.categories" [value]="entity.parentCategoryId"></app-input-select>
      <label for="name">{{'categoryEdit.title' | translate}}</label>
      <input #inputTitle="ngModel" autofocus type="text" id="title" required
        name="title" [(ngModel)]="entity.title" />
      <div [hidden]="inputTitle.valid || inputTitle.pristine" class="error-box">
        {{'categoryEdit.titleIsRequired' | translate}}
      </div>
      <button type="submit" class="button-primary">{{'categoryEdit.accept' | translate}}</button>
      <button type="button" (click)="goBack()">{{'categoryEdit.cancel' | translate}}</button>
    </fieldset>
  </form>
</div>

<template #modalContainer></template>
