@import '../../../config/css/palette';

div {
  align-items: center;
  border: 1px solid $divider-color;
  display: flex;
  height: 23rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  position: relative;

  a {
    font-size: 3.6rem;
  }

  input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
