@import '../../../config/css/palette';

.uploader {
  border: 1px solid $divider-color;
  margin-bottom: 1.5rem;
  padding: .6rem;
  position: relative;

  .image {
    background: url('/assets/upload.png') center / contain no-repeat;
    padding-bottom: 67%;

    &.uploading {
      background: url('/assets/loading.gif') center / contain no-repeat;
    }
  }

  input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 40rem) {
  .uploader {
    float: left;
    margin-right: 1.5rem;

    .image {
      height: 18.7rem;
      padding: 0;
      width: 24rem;
    }
  }
}
