@import '../../../../config/css/palette';

div {
  display: flex;
  padding-right: 1rem;
}

a {
  color: $primary-color-text;

  &:first-child {
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
