@import '../../../../config/css/palette';

a {
  color: $primary-color-text;
}

.entry {
  display: inline-flex;
  flex-direction: row;

  a {
    &:first-child {
      margin-right: 1rem;
    }
  }
}
