@import '../../../../config/css/palette';

div {
  display: flex;
  padding-right: 1rem;
}

a {
  color: $primary-color-text;
  margin-right: 1rem;

  &.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.selected {
    text-decoration: underline;
  }

  &:last-child {
    margin-right: none;
  }
}
