Options -Indexes
RewriteEngine On

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Credentials true
  Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
  Header add Access-Control-Allow-Headers: "Content-Type"
  Header add Access-Control-Allow-Headers: "Authorization"
</IfModule>

RewriteRule ^images/([^/]+)$ image.php?path=$1&%{QUERY_STRING} [L,NC]
