<div class="header">
  <h1>Photobox</h1>
</div>

<div class="container" *ngIf="entity">
  <h3>{{'userSettings.header' | translate}}</h3>
  <form (ngSubmit)="onSubmit()" (change)="hasChanged = true">
    <fieldset>
      <label for="name">{{'userRegisterComplete.displayedName' | translate}}</label>
      <input type="text" id="name" name="name" [(ngModel)]="entity.name" autofocus>
      <label for="language">{{'userSettings.applicationLanguage' | translate}}</label>
      <select id="language" name="language" [(ngModel)]="entity.language">
        <option *ngFor="let language of languages" [value]="language.code">{{language.label}}</option>
      </select>
      <button type="submit" class="button-primary">{{'button.accept' | translate}}</button>
      <button type="button" (click)="goBack()">{{'button.cancel' | translate}}</button>
    </fieldset>
  </form>
</div>

<template #modalContainer></template>
