<div class="modal">
  <div class="modal-dialog">
    <div class="modal-dialog-header">Processing request</div>
    <div class="modal-dialog-body">
      Waiting for the request<br>
      Waiting for the request<br>
      Waiting for the request<br>
      Waiting for the request<br>
      Waiting for the request<br>
      Waiting for the request<br>
      Waiting for the request<br>

    </div>
    <div class="modal-dialog-footer">
      <button type="submit">Accept</button>
      <button type="button">Cancel</button>
    </div>
  </div>
</div>
