@import './config/css/palette';
@import './config/css/metrics';

body {
  margin: 0;
}

.main {
  &.container {
    max-width: none;
    padding: 0;
  }
}

.header {
  background: $primary-text-color;
  color: $primary-color-text;
  margin-bottom: 2rem;
  padding: .2rem .5rem;

  h1 {
    font-size: $font-size-h3;
    margin: 0;
  }
}

div {
  %box {
    border-radius: .4rem;
    margin-bottom: .5rem;
    padding: .6rem 1rem;
  }

  .error-box {
    @extend %box;
    background-color: $primary-color-light;
    border: .1rem solid $primary-color;
    font-weight: 400;
  }
}
