@import '~compass-mixins/lib/compass/css3';
@import './config/css/palette';
@import './config/css/metrics';

div {
  %box {
    border-radius: .4rem;
    margin-bottom: .5rem;
    padding: .6rem 1rem;
  }

  .modal {
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;

    .modal-dialog {
      @include box-shadow(0 0 1.6rem 0 rgba($primary-text-color, .7));
      background-color: $primary-color-text;
      border-radius: .6rem;
      display: inline-flex;
      flex-direction: column;
      margin-top: 8rem;
    }

    .modal-dialog-header {
      background-color: $primary-color-dark;
      border-radius: .6rem .6rem 0 0;
      color: $primary-color-text;
      font-weight: 400;
      padding: .6rem 1rem;
    }

    .modal-dialog-body {
      padding: 1rem 1.6rem;
    }

    .modal-dialog-footer {
      border-radius: 0 0 .6rem .6rem;
      padding: .4rem 1rem 1rem;

      & > * {
        margin-bottom: 0;
      }
    }
  }

  .error-box {
    @extend %box;
    background-color: $accent-color;
    border: .1rem solid $accent-color;
    color: $primary-color-text;
    font-weight: 400;
  }
}

:scope {
  body {
    margin: 0;
  }

  .main {
    &.container {
      max-width: none;
      padding: 0;
    }
  }

  .header {
    align-items: center;
    background: $primary-text-color;
    color: $primary-color-text;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1rem 1.6rem;

    & > * {
      line-height: normal;
      padding-left: 1.6rem;

      &:first-child {
        padding-left: 0;
      }
    }

    a {
      color: $primary-color-text;
      font-size: $font-size-h3;
    }

    h1 {
      flex-grow: 1;
      font-size: $font-size-h3;
      margin: 0;
    }
  }
}
