<!-- TODO: show a preloading -->
<div class="container" *ngIf="entity">
  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <label for="username">Username</label>
      <input
        type="text" placeholder="Username" id="username" name="username"
        required [(ngModel)]="entity.username" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="error-box">Username is required</div>
      <label for="password">Password</label>
      <input
        type="password" placeholder="Password" id="password" name="password"
        required [(ngModel)]="entity.password" #pass="ngModel">
      <button [disabled]="isRequestInProgress" type="submit" class="button-primary">Enter</button>
      <div class="error-box" [hidden]="!errorMessage">{{errorMessage}}</div>
    </fieldset>
  </form>
</div>
